
@CHARSET "ISO-8859-1";

h1 {
	margin-top: 25.000000pt;
	margin-bottom: 18.000000pt;
	font-size: 18.000000pt;
	font-family: "Arial";
}

h2 {
	margin-top: 14.000000pt;
	margin-bottom: 5.000000pt;
	font-size: 14.000000pt;
	font-family: "Arial";
}

h3 {
	margin-top: 14.000000pt;
	margin-bottom: 14.000000pt;
	font-size: 12.000000pt;
	font-family: "Arial";
}

h4 {
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	font-size: 10.000000pt;
	font-family: "Arial";
}

.omg-body {
	margin-top: 8.000000pt;
	font-size: 10.000000pt;
	font-family: "Times New Roman";
}

.omg-code {
	font-size: 8.000000pt;
	font-family: "Courier";
}

.omg-table-body {
	font-size: 9.000000pt;
	font-family: "Times New Roman";
}

.omg-table-caption, .omg-figure-caption {
	margin-top: 8.000000pt;
	margin-bottom: 4.000000pt;
	font-size: 9.000000pt;
	font-weight: bold;
	font-family: "Times New Roman";
}
