Shape {
	fillColor: white;
	gradient: none;
	elementIcon: false;
	bold: true;
}

Region, State {
	fillColor: white;
	gradient: none;
	elementIcon: false;
	bold: true;
}

Class > Compartment[kind="symbols"] {
    visible:false;
}
 
Class > Compartment[kind="attributes"] {
    visible:false;
}
 
Class > Compartment[kind="operations"]{
    visible:false;
}

Class > Compartment[kind="nestedClassifiers"]{
    visible:false;
}


Compartment[kind="internalstructure"]{
    collapsed:false;
}
